.campaigns-container h1 {
    color: #2B416C;
}

.campaigns-container .tabs {
    border-bottom: 1px solid #F1F1F4;
}

.campaign-tabs-list li {
    color: #556789;
    font-size: 18px;
    line-height: 28px;
    padding: 5px 10px
}

.campaign-tabs-list {
    margin-bottom: 0;
    padding-bottom: 10px;
    cursor:pointer
}

.campaign-tabs-list li.active {
    color: #83A515;
    font-weight: 500;
    position: relative
}

.campaign-tabs-list li.active::After {
    content: "";
    height: 4px;
    background: #83A515;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
}


.campaigns-table{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.campaigns-table .table-header{
    background:#F1F1F4;
    height:48px;
    padding:5px 10px
}

.campaigns-table .table-header span{
    color:#556789;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.table-header > div:nth-child(odd),
.table-body > .table-item > div:nth-child(odd) {
    width:20%
}

.table-header > div:nth-child(even), 
.table-body > .table-item >  div:nth-child(even) {
    width:30%
}

.table-item{
    width:100%;
    height:80px;
    border-bottom:1px solid #ECECEC;
}


.table-item .thumbnail{
    width:50px;
    border-radius: 5px;
}

.table-item .campaign .region{
    font-size: 14px;
} 

.table-item .actions img,
.table-item .view-pricing img{
    width:24px;
    height:24px
}


  